/*Names: Aswini Subramanian, Sam Webster, Raj Darji, Patrick Nicholson, Paul Lopresti*/
/*Date: 4/20/25*/
/*File: userLogin.html*/
/*this is the css file for the userLogin.html*/

@font-face {
  font-family: 'SalvoCacciatoriLight';
  src: url('SalvoCacciatoriLight.otf') format('opentype');
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(14, 142, 247, 0.1);
  width: 300px;
}

.container h2 {
  margin-bottom: 20px;
  color: #333;
}

.container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container button {
  padding: 10px;
  width: 100px;
  height: 40px;
  background-color: #215fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background: #004d25;
}

.container .switch {
  text-align: center;
  margin-top: 10px;
}

.container .switch a {
  color: #006c34;
  text-decoration: none;
}

.container .switch a:hover {
  text-decoration: underline;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  background: transparent;
  border: none;
  font-weight: bold;
}

.button {
  width: 100px;
  height: 40px;
  background-color: #215fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'SalvoCacciatoriLight', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.close-button:hover {
  color: #ff0000;
}

#login-form {
  width: 280px;
}
